*~
*.o
.doctrees
docs-html/.buildinfo
docs-html/objects.inv
docs-pdf/*.xdy
docs-pdf/*.sty
docs-pdf/*.tex
docs-pdf/*.aux
docs-pdf/*.out
docs-pdf/*.fls
docs-pdf/*.idx
docs-pdf/*.ilg
docs-pdf/*.ind
docs-pdf/*.log
docs-pdf/*.toc
docs-pdf/*.ist
docs-pdf/*.cls
docs-pdf/latex*
docs-pdf/Makefile
docs-pdf/make.bat
docs-pdf/mistral.fdb_latexmk
docs-pdf/floorplans.pdf
docs-pdf/lab-common.pdf
docs-pdf/lab-cell.pdf
docs-pdf/lab-modes.pdf
build
